.profile {
  display: flex;
  width: 880px;
  height: 120px;
  padding: 29px 200px 0;
}

.profile__info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "name button"
    "description .";
  margin: auto 30px;
  width: 415px;
  height: 77px;
  align-items: end;
  column-gap: 15px;
}

.profile__name {
  grid-area: name;
  align-items: center;
  margin: 0;
  width: 373px;
  height: 39px;
  font-family: Inter;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 0%;
}

.profile__description {
  grid-area: description;
  margin: 0;
  width: 373px;
  height: 22px;
  padding-top: 16px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.profile__photo {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.profile__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0 auto auto;
  width: 150px;
  height: 50px;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.add-button__image {
  width: 22px;
  height: 22px;
}

.profile__edit-button-image {
  width: 10px;
  height: 10px;
}
